
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap');

:root{
    --font-primary: "Roboto", arial;
    --font-secondary: "Sora", arial;
    --primary-gradient: linear-gradient(180deg, #a6d4e2 0%, rgba(205, 178, 255, 0.2) 100% );
    --text-color: rgb(23, 9, 46);
    --card-show:  0 4px 6px rgba(0,0,0,0.1);
    --hover-shadow: 0 8px 15px rgba(0,0,0,0.15);
    --spacing-unit: 2rem;
    --trans-speed: 0.3s;

    

    --font-size-xs: clamp(0.875rem, 1vw + 0.5rem, 1rem);    /* 14px - 16px */
    --font-size-sm: clamp(1rem, 1.2vw + 0.5rem, 1.25rem);   /* 16px - 20px */
    --font-size-md: clamp(1.25rem, 1.5vw + 0.5rem, 1.5rem); /* 20px - 24px */
    --font-size-lg: clamp(1.5rem, 2vw + 0.5rem, 2rem);      /* 24px - 32px */
    --font-size-xl: clamp(2rem, 2.5vw + 0.5rem, 2.5rem);    /* 32px - 40px */
    --font-size-xxl: clamp(2.5rem, 3vw + 0.5rem, 3.5rem);   /* 40px - 56px */

  
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: var(--font-primary);
line-height: 1.6;  
color: var(--text-color);
background-color: #d2c2ff;
font-size: var(--font-size-sm);

}

header{
background-color: rgb(255, 96, 110);
backdrop-filter: blur(10px);
box-shadow: 0 2px  4px rgba(0,0,0,0.1);
position: fixed;
width: 100%;
top: 0;
z-index: 100;
transition:  all var(--trans-speed) ease;

}

nav {
max-width:  1200px;
margin: 0 auto;
padding:  1 rem var(--spacing-unit);
display: flex ;
justify-content:  space-between;
align-content: center;
}

.logo{
font-size: var(--font-size-lg);
font-weight: 700;
color : rgb(rgb(102, 28, 28), rgb(200, 214, 200), blue);
text-decoration: none;
transition:  color var(--trans-speed) ease;
z-index: 101;
font-family: var(--font-secondary);
}


.log:hover{
    color: #f2f2f2;
}

.nav-toogle   {
    display: none;
}


.nav-toogle-label{
    display: none;
    cursor: pointer;
    z-index: 101;
}

.nav-toogle-label span,
.nav-toogle-label span::before
.nav-toogle-label span::after{
    display:  block;
    background: var(--text-color);
    height:  2px;
    width: 2rem;
    position: relative;
    transition: all var( --trans-speed) ease;

}

.nav-toogle-label span::before
.nav-toogle-label span::after{
content: "";
position: absolute;
}

